@{
    ViewBag.Title = "ログアウト";
    //Layout = CommonStrings.NoLoginLayoutPath;
}

<body style="background-color:#f7f7f7;">
    <div style="width:480px;margin:160px auto 0 auto;padding: 16px;background-color:#FEFEFE;">
        <div style="margin:24px auto 16px auto;font-weight: bold;">
            <label>ログアウトしました。</label>
        </div>
        <div style="padding-bottom:16px;">
            @Html.ActionLink("ログイン画面へ", "Index", "Login")
        </div>
    </div>
</body>
