<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="/opt/owm/log/internal-nlog.txt">

  <!--
環境変数「ASPNETCORE_ENVIRONMENT」の値により、以下の名称の設定ファイル使用される。
nlog.<ASPNETCORE_ENVIRONMENTの値>.config
環境変数が指定されていない場合は、このファイル(nlog.config)の設定が使用される。
-->

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- 非同期で出力 -->
  <targets async="true">

    <!--ローカルテスト-->
    <target xsi:type="Console" name="custom-web-log" encoding="UTF-8">
      <layout xsi:type="CsvLayout" delimiter="Comma" withHeader="false" quoting="All">
        <column name="time" layout="${date:format=yyyy/MM/dd HH\:mm\:ss.fff}" />
        <column name="serverip" layout="${aspnet-item:variable=serverip}" />
        <column name="appid" layout="${aspnet-item:variable=appid}" />
        <column name="logid" layout="${aspnet-traceidentifier}" />
        <column name="logType" layout="${event-properties:item=logType}" />
        <column name="message" layout="${message}" />
        <column name="result" layout="${event-properties:item=result}" />
        <column name="errormessage" layout="${event-properties:item=errormessage}${exception:format=ToString}" />
        <column name="requestip" layout="${aspnet-request-ip}" />
        <column name="sessionid" layout="${aspnet-sessionid}" />
        <column name="userno" layout="${aspnet-item:variable=userno}" />

        <column name="site-name" layout="${iis-site-name} " />
        <column name="action" layout="${aspnet-mvc-controller}/${aspnet-mvc-action}"/>
        <column name="isauthenticated" layout="${aspnet-user-isauthenticated}" />
        <column name="requestform" layout="${aspnet-request-form:Exclude=Password,PasswordStr}" />
        <column name="useragent" layout="${aspnet-request-useragent}" />
      </layout>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--コンソールに全てにログを出力。 →有効にしたらstackOverFlow例外が発生したので一旦コメントアウト。-->
    <!--<logger name="*" minlevel="Trace" writeTo="console" />-->

    <!-- final="true"の指定これ以降Microsoft.*のログが出力されないよう設定。-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
    <!-- BlackHole without writeTo -->

    <!--監査ログ-->
    <logger name="*" minlevel="Info" writeTo="custom-web-log" />

    <!--監査ログで使用するLoggerに名前を設定する-->
    <!--<logger name="customLogger" minlevel="Info" writeTo="custom-web-log" />-->
  </rules>
</nlog>